html,
body {
  height: 100%;
}

body {
  background: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.card-body {
  max-width: 250px;
  height: 250px;
}

.card {
  margin-bottom: 25px;
  background: #f4f3ee;
  border-radius: 15px;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
}

.pink-card {
  background: #c32c72;
}

.white-card {
  background: #fff;
  border: 2px solid #c32c72;
}

footer {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

@media (min-width: 700px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  footer address {
    margin-left: 5%;
  }
  footer p {
    margin-right: 5%;
  }
}

@media (min-width: 1000px) {
  main {
    height: 100%;
  }
}

h1 {
  font-family: "Archivo Narrow", sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.8rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

body {
  font-family: "open sans", sans-serif;
}

footer {
  font-size: 1.2rem;
}

nav .active > .nav-link {
  color: #c32c72 !important;
}

nav ul {
  font-size: 1.2rem;
}

nav .navbar-brand {
  font-size: 2rem;
}

.bg-light {
  background: #f4f3ee !important;
}
