html,
body {
	height: 100%;
}
body {
	background: getColour(body-grey);
	display: flex;
	flex-direction: column;
}
.wrapper {
	flex: 1 0 auto;
}
.card-body {
	max-width: 250px;
	height: 250px;
}
.card {
	margin-bottom: 25px;
	background: getColour(beige);
	border-radius: 10px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
}
.pink-card {
	background: getColour(pink);
}
.white-card {
	background: getColour(white);
	border: 2px solid getColour(pink);
}
footer {
	background: getColour(white);
	display: flex;
	flex-shrink: 0;
	padding: 25px;
	flex-flow: column;
	text-align: center;
}
@media (min-width: 700px) {
	.footer-layout {
		margin-bottom: 0;
	}
	footer {
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 10px;
		address {
			@extend .footer-layout;
			margin-left: 3%;
		}
		p {
			@extend .footer-layout;
			margin-right: 3%;
		}
	}
}
@media (min-width: 1000px) {
	main {
		height: 100%;
	}
}
