h1 {
	font-family: $font-headings;
	text-align: center;
	text-transform: capitalize;
	font-size: 2.8rem;
	margin-top: 25px;
	margin-bottom: 25px;
}
body {
	font-family: $font-primary;
}
footer {
	font-size: 1.2rem;
}
